<div class="row">
  <h2>商品新規登録</h2>
  <%= form_with model: @item, do |f| %>
    <!-- エラーメッセージ表示-->
    <% if @item.errors.any? %>
      <h3><% @item.errors.count %>error occurrence</h3>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <!-- エラーメッセージ表示 end-->
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :商品画像 %>
        <%= f.imag_fiald :image, accept: "image/*" %>
      </div>
      