
<div class="row">
<h2 class="genre-edit-head">ジャンル編集</h2>
<%= form_for(@genre, url: edit_admin_genre_path(@genre),html: {method: "patch"}) do |genre| %>
	<%= genre.text_field :name %>
	<%= genre.submit '変更を保存',class:"btn btn-success genre-submit" %>
<% end %>
</div>