<div class = "genre-search-head border border-dark text-center">
  <h1>ジャンル検索</h1>
</div>
<div class = "genre-search-contents border border-dark", style = "height:300px">
  <%= genres.each do |genre| %>
  <p class = "ml-2 mt-2">
    <%= link_to item_genre_path(genre), class:"text-dark" do %>
        <%= genre.name %>
      <% end %>
    </p>
  <% end %>
</div>